<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/c81945cf9e37529e.png?q=100" alt="">
                <h6>All products</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img class="rounded-circle" src="https://rukminim1.flixcart.com/flap/128/128/image/52e3aff0b20ad632.png?q=100" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a >
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/6ec8de1d47fc9ec9.png?q=100" alt="">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a >
                <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiWyrgugFutX39G10dg0CkZy4dOVVvAAGZAw&usqp=CAU" style="width: 80px;" alt="">
                <h6>Jewellery</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                    {{item.title}}
                </h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong>${{item.price}}</p>
                <button class="btn btn-primary" (click)="addtocart(item)">
                    Add to cart
                </button>
            </div>
        </ng-container>
    </div>
</div>
